@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 27rem;
  margin: 1rem;
}

.sellSection {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0.3rem;
}

.sell_btn {
  width: 10rem;
  height: 3rem;
  color: #ff8700;
  background-color: #ffffff;
  text-shadow: currentcolor 0px 0px 25px;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Proto Mono", Helvetica, Arial, sans-serif;
}

.collectionHeader {
  display: flex;
  align-items: center;
  background-color: rgba(8, 4, 4, 0.6);
  backdrop-filter: blur(10px);
  color: #929292;
  display: flex;
  flex: 1 1 100%;
  font-size: 0.7rem;
  height: 4rem;
  position: fixed;
  transition: all 0.5s ease 0s;
  width: 100%;
  z-index: 100;
  padding: 0 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
}

.nav_items {
  display: flex;
  justify-content: space-evenly;
  width: 17rem;
  cursor: pointer;
}

.nav_items > p:hover {
  color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  height: 3rem;
}

.link:hover {
  color: #ffffff;
}

.container {
  font-family: "Proto Mono", Helvetica, Arial, sans-serif;
}

.viewCollection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Proto Mono", Helvetica, Arial, sans-serif;
}

.collectionMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  padding: 1rem 2rem;
}
